* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainHeader {
  display: flex;
  width: 100%;
  /* background-color: grey; */
  /* padding-top: 20Px; */

  font-size: 40px;
  /* padding-bottom: 30px; */
  padding-left: 40px;
  /* padding-left: 39%; */
  border-radius: 10px;
  justify-content: left;

}

#logo {
  font-weight: bold;
  font-size: 18px;
  /* display: flex; */
  align-items: left;


  /* padding-top:10px; */
}

.mainBox {
  display: flex;
  justify-content: center;
}

.headerText {
  padding-top: 30px;
}



.searchBarcontainer {
  display: flex;
  justify-content: space-between;
  padding-left: 3%;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;

}


form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}



.viewAs {
  margin-right: 5%;
  background-color: rgba(247, 240, 240, 0.966);

}





/* font awsome style */
/* Style buttons */
.btn {
  background-color: white;
  /* Blue background */
  border: none;
  /* Remove borders */
  color: black;
  /* White text */
  padding: 12px 16px;
  /* Some padding */
  font-size: 16px;
  /* Set a font size */
  cursor: pointer;
  /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgba(247, 240, 240, 0.966);
}






/* mainbody started */



.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

#peopleSearchResult {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px;
  /* justify-content: center; */

}



.container {
  width: 90vw;
  margin: 30px;
  max-width: 450px;
  background: #fff;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  flex: 32%;
}

.container h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 2rem;
  text-align: center;
}

.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.person h4 {
  margin-bottom: 0.35rem;
}

.person p {
  margin-bottom: 0;
}

#peopleSearchResultTable {
  display: none;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

/* tablDat started here */
#resp-table {
  width: 100%;
  display: table;


}

#resp-table-caption {
  display: table-caption;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#resp-table-header {
  display: table-header-group;
  background-color: gray;
  font-weight: bold;
  font-size: 25px;
}

.table-header-cell {
  display: table-cell;
  padding: 10px;
  text-align: justify;
  border-bottom: 1px solid rgb(181, 157, 157);
  border-collapse: separate;
  border-spacing: 15px;
}

#resp-table-body {
  display: table-row-group;
}

.resp-table-row {
  display: table-row;

}

.resp-table-row-colored {
  display: table-row;
  background-color: rgba(169, 162, 162, 0.966);

}

.table-body-cell {
  display: table-cell;
  padding: 5px;
  font-size: 1.3rem;

}