* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.mainHeader {
  display: flex;
  max-width: 100%;


  font-size: 30px;

  padding-left: 38px;

  justify-content: left;

}

#logo {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: left;

}

.mainBox {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
}

.headerText {
  padding-top: 10px;
  font-size: larger;
  font-style: normal;
  text-transform: none;
  animation: both;
  color: dimgrey;
  font-weight: bold;
}


.searchBarcontainer {
  display: flex;
  justify-content: space-between;
  padding-left: 3%;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  padding-top: 5px;
  padding-bottom: 5px;
  height: 45px;

}


form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="button"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}



.viewAs {
  margin-right: 5%;
  background-color: rgba(247, 240, 240, 0.966);
  font-weight: bold;
  font-style: normal;
  padding: revert;
  font-size: 15px;
  color: dimgrey
}





.btn {
  background-color: white;

  border: none;

  color: black;

  padding: 9px 8px;

  font-size: 16px;

  cursor: pointer;
}

.btn:hover {
  background-color: rgba(247, 240, 240, 0.966);
}

/* mainbody started */



.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}



#peopleSearchResult {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 80px;

  float: right;
  margin-top: 45px;

}

.right-container {
  width: 90vw;
  margin: 10px;
  max-width: 380px;
  background: #fff;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  flex: 32%;
  height: 800px;
  margin-top: 21px;

}

.rightContainerdImage {
  border-radius: 10px;
  width: 20rem;
}


.right-container h2 {
  font-weight: bold;
  color: rgb(82, 77, 82);
  text-transform: none;
  margin-bottom: 2rem;
  text-align: center;
  animation: both;
  margin-top: 2rem;

}

.container {

  width: 90vw;
  margin: 10px;
  max-width: 293px;
  background: #fff;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
  flex: 32%;
  height: 200px;

}

.container h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 2rem;
  text-align: center;
}

.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  font-size: 11px;
  margin-top: 30px;
  position: relative;
  font-family: sans-serif;
}


/* .person img { */
.parentImage {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 0 5px 30px rgb(0 0 0 / 18%);
  position: relative;

}

.overLayImage {

  position: absolute;
    top: 80px;
    left: 24px;
    width: 64px;
    height: 58px;
}


.person h4 {
  margin-bottom: 0.35rem;
}

.person p {
  margin-bottom: 0;
}

#peopleSearchResultTable {
  display: none;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 100px;

}

/* tablData started here */
#resp-table {
  width: 100%;
  display: table;


}

#resp-table-caption {
  display: table-caption;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#resp-table-header {
  display: table-header-group;
  background-color: #d9d1d1;
  font-weight: bold;
  font-size: 24px;
  font-family: sans-serif;

  /* padding-left: 40px; */
}

.table-header-cell {

  display: table-cell;
  padding: 10px;
  padding-left: 40px;
  /* text-align: justify; */
  border-bottom: 1px solid rgb(181, 157, 157);
  border-collapse: separate;
  border-spacing: 15px;
}

#resp-table-body {
  display: table-row-group;
}

.resp-table-row {
  display: table-row;
  height: 20px;
}

.resp-table-row-colored {
  display: table-row;
  background-color: rgba(169, 162, 162, 0.966);
  height: 20px;

}

.table-body-cell {
  display: table-cell;
  padding: 5px;
  font-size: 1.1rem;
  height: 20px;
  padding-left: 40px;
  font-family: sans-serif;
}



#greetingLink {
  font-size: 13px;
  background-color: grey;
  color: white;
  padding: 11px 25px;
  text-decoration: none;
  float: left;
  margin-top: 14px;
  border-radius: 0.2rem;
  border-color: darkolivegreen;



}

.person a {
  margin-bottom: 3rem;
}

#greetingLink:hover {
  background-color: darkgrey;
}

.greetingTableLink {
  font-size: 10px;
  background-color: grey;
  color: white;
  padding: 8px 25px;
  text-decoration: none;
  float: left;
  margin-top: 14px;
  border-radius: 0.2rem;
  border-color: darkolivegreen;
}

.greetingTableLink:hover {
  background-color: darkgrey;
}

/* .todaysBirthdays {} */

.todaysBirthdays {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;

}

#todayBirthDayResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 80px;
  /* justify-content: center; */
  float: right;
  margin-top: 45px;
  width: 100%;
}


@media screen and (max-width: 992px) {
  .section {
    width: 95vw;
  }

  .mainHeader {
    display: flex;
    max-width: 100%;
    font-size: 15px;

    padding-left: 15px;

    justify-content: left;
  }

  .btn {
    background-color: white;

    border: none;

    color: black;

    padding: 2px 2px;

    font-size: 5px;

    cursor: pointer;
  }

  #logo {
    font-weight: bold;
    font-size: 8px;
    display: flex;
    align-items: left;
  }
}